@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Fugaz One', sans-serif;
    --fonte3: 'Yanone Kaffeesatz', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: gray;
    min-height: 100vh;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
    font-family: var(--fonte3);
    font-size: 1.4em;
}

section > p {
    padding-bottom: 2em;
}


section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(48, 48, 48);
        color: white;
        box-shadow: inset 5px 5px 12px 0px black;
        background-size: cover;
        background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.781);
    padding: 10px;
}

section#imag01 {
    background-image: url('../imagens/bg01.jpg');
}

section#imag02 {
    background-image: url('../imagens/book-library-with-open-textbook.jpg');
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 12px;
}