@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    
}
img {
    width: 100vw;
}

a {
    display: block;
    color: white;
    background-color: rgb(0, 14, 214);
    padding: 12px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}